@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="card card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <select asp-items="@(new SelectList(Model.Categories, "CategoryId", "Name", Model.SelectedCategory))" name="category" class="form-select">
                        <option value="0">Hepsi</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered table-striped text-center">
    <thead class="bg-dark text-white">
        <tr>
            <th style="width: 120px;">@Html.DisplayNameFor(m => m.Products[0].ProductId)</th>
            <th style="width: 120px;">@Html.DisplayNameFor(m => m.Products[0].Image)</th>
            <th>@Html.DisplayNameFor(m => m.Products[0].Name)</th>
            <th style="width: 120px;">@Html.DisplayNameFor(m => m.Products[0].Price)</th>
            <th style="width: 120px;">@Html.DisplayNameFor(m => m.Products[0].IsActive)</th>
            <th style="width: 150px;">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in @Model.Products) {
            <tr>
                <td>
                    <span class="badge bg-dark">@product.ProductId</span>
                </td>
                <td>
                    <img src="~/img/@product.Image" 
                         alt="" class="img-fluid" 
                         data-bs-toggle="tooltip" data-bs-placement="right" 
                         data-bs-html="true" 
                         title="@product.Name">
                </td>
                <td>
                    <span class="badge bg-primary">@product.Name</span>
                </td>                
                <td>@product.Price</td>
                <td>
                    @if (@product.IsActive == true) {
                        <span class="badge bg-success">Evet</span>
                    } else {
                        <span class="badge bg-danger">Hayır</span>
                    }
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-sm btn-primary">Düzenle</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>